/* See the ISSUE. */
#custom-taghw1,
#custom-tagbt1 {
	/* prettier-ignore */
	padding-left: @paddingH@;
}

#custom-taghw2,
#custom-tagbt2 {
	/* prettier-ignore */
	padding-right: @paddingH@;
}

/* Padding for global widgets. */
#custom-display,
#custom-network,
#datetime,
#mpris,
#pulseaudio,
#scratchpad {
	/* prettier-ignore */
	padding: @paddingV@ @paddingH@;
}

/* Padding for combined widgets. */
#clock.date,
#cpu.load,
#custom-powerlimit,
#custom-powersave,
#memory,
#temperature {
	padding-left: 4px;
}

/* Hover style. */
#batteryinfo:hover,
#custom-display:hover,
#custom-network:hover,
#datetime:hover,
#hardware:hover,
#mpris:hover,
#pulseaudio:hover,
#scratchpad:hover,
#workspaces button:hover {
	/* prettier-ignore */
	background-color: @borderColor@;
}

/* Critical state. */
#battery,
#cpu.usage,
#custom-display,
#custom-network,
#memory,
#pulseaudio.source-muted,
#temperature {
	/* prettier-ignore */
	border-top: @borderSize@ solid transparent;
	/* prettier-ignore */
	border-bottom: @borderSize@ solid transparent;
}

#battery.critical,
#cpu.usage.critical,
#custom-display.dnd,
#custom-display.rec,
#custom-display.power,
#custom-display.gaming,
#custom-network.none,
#custom-network.vpn,
#custom-network.btlow,
#memory.critical,
#pulseaudio.muted,
#pulseaudio,
#temperature.critical {
	/* prettier-ignore */
	border-top: @borderSize@ solid @accent@;
	/* prettier-ignore */
	border-bottom: @borderSize@ solid transparent;
}

/* Widget-specific styling. */
#workspaces button {
	/* prettier-ignore */
	padding: @paddingV@ 4px;
	/* prettier-ignore */
	border-top: @borderSize@ solid transparent;
	/* prettier-ignore */
	border-bottom: @borderSize@ solid transparent;
	border-radius: 0;
	font-weight: bold;
}

#workspaces button.focused {
	/* prettier-ignore */
	border-top: @borderSize@ solid @accent@;
}

#clock.time {
	font-weight: bold;
}
